body {
    padding: 50px;
    background-color: #FF69B4;
    font-family: sans-serif;
}

#root {
    justify-content: center;
}

.app {
    width: 100%; 
    display: table;
}

.left {
    width: 300px; 
    display: table-cell;
}

.right {
    display: table-cell;
    padding: 30px;
}